@model IEnumerable<WebUI.Models.Post>

@{
    ViewData["Title"] = "All Posts";
}

<header class="jumbotron">
    <h1>News Feed</h1>
    <h2>By Jason Huggins</h2>
    <p>
        All posts are listed in the news feed below, and you can sort by
        date and name by clicking on the corresponding column names
        hyperlinked in blue text. You can also filter posts by name
        by typing in the search box, as well as adding message and photo
        posts to the feed.
    </p>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name:
                <input type="text" name="SearchString"
                       value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-info" />
                <a class="btn btn-secondary" asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>
</header>

<p>
    <a class="btn btn-success" asp-action="Create"
       asp-controller="MessagePosts">Post New Message</a>

    <a class="btn btn-info" asp-action="Create"
       asp-controller="PhotoPosts">Post New Photo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder=
                   "@ViewData["PostIDSortParm"]">
                    @Html.DisplayNameFor(model => model.PostID)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder=
                   "@ViewData["NameSortParm"]">
                    @Html.DisplayNameFor(model => model.Username)
                </a>
            </th>
            <th>
                Message
            </th>
            <th>
                Photo
            </th>
            <th>
                Caption
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder=
                   "@ViewData["DateSortParm"]">
                    @Html.DisplayNameFor(model => model.Timestamp)
                </a>
            </th>
            <th>
                Likes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        MessagePost message = null;
        PhotoPost photo = null;

        if (item is MessagePost)
        {
            message = (MessagePost)item;
        }

        if (item is PhotoPost)
        {
            photo = (PhotoPost)item;
        }

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @if (message != null)
                {
                    <span>@message.Message</span>
                }
                else
                {
                    <span>None</span>
                }
            </td>
            <td>
                @if (photo != null)
                {
                    <span>@photo.Filename</span>
                }
                else
                {
                    <span>None</span>
                }
            </td>
            <td>
                @if (photo != null)
                {
                    <span>@photo.Caption</span>
                }
                else
                {
                    <span>None</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                @if (item is MessagePost)
                {
                    <a asp-action="Edit" class="btn btn-success"
                       asp-controller="MessagePosts"
                       asp-route-id="@item.PostID">Edit</a>
                    <a asp-action="Details" class="btn btn-info"
                       asp-controller="MessagePosts"
                       asp-route-id="@item.PostID">Details</a>
                    <a asp-action="Delete" class="btn btn-danger"
                       asp-controller="MessagePosts"
                       asp-route-id="@item.PostID">Delete</a>
                }
                else if (item is PhotoPost)
                {
                    <a asp-action="Edit" class="btn btn-success"
                       asp-controller="PhotoPosts"
                       asp-route-id="@item.PostID">Edit</a>
                    <a asp-action="Details" class="btn btn-info"
                       asp-controller="PhotoPosts"
                       asp-route-id="@item.PostID">Details</a>
                    <a asp-action="Delete" class="btn btn-danger"
                       asp-controller="PhotoPosts"
                       asp-route-id="@item.PostID">Delete</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
